:root {
  --var-border: 1px solid #111;
  --var-border-light: 2px solid #888;
}

sidebar {
  width: 18dvw;
  height: 100%;
}
.insideContent {
  width: 90%;
  height: 95%;
}
.leftSide { 
  background-color: rgb(8, 8, 153);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  min-height: 0;
}
.sbarCenter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sBarHeader {
  width: 100%;
  color: #eee;
  font-size: 1.3em;
  .anchor { margin-right: 10px; }
}
.navComponents {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.navTitle {
  font-size: 1.4em;
  color: #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navlinkIcon {
    padding: 1px;
    transform: rotate(-90deg);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
  }
  .navlinkIcon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.25s ease-in-out;
    transform: rotate(270deg);
    scale: 1.25;
  }
}

.navLinks div {
  width: calc(100% - 10px);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  color: #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.125s ease-in-out;
  .navIcons {
    margin-right: 10px;
    font-size: 1.3em;
  }
  font-style: italic;
}
.navLinks a:-webkit-any-link {
  text-decoration: none;
}
.navLinks div:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.125s ease-in-out;
}
.center {
  width: 82dvw;
  height: 100%;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
}
.centerContent { width: 95%; height: 95%; }
.nameClass { font-size: 1.6em; font-weight: 700; }
.handWave { padding-left: 5px; color: rgb(179, 179, 33); }
.headerClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: unset;
    padding-left: 10px;
    font-family: 'Cascadia Mono', system-ui, sans-serif
  }
}
.subTitle { color: #555; margin-bottom: 20px; }
.overViewClass { margin-bottom: 40px;}
.overViewClass .nameClass { margin-bottom: 10px; }
.statusCard {
  display: flex;
  justify-content: space-between;
}
.statusCard > div {
  width: 175px;
  height: 100px;
  border-radius: 12px;
  padding: 10px;
  .title {
    display: flex;
  }
  .icons {
    margin-right: 5px;
    color: #eee;
    padding: 5px;
    border-radius: 5px;
  }
  .value{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .recent {
    font-size: 0.8em;
  }
}
.inProgress {
  background-color: rgb(255, 132, 128);
  .icons {
    background-color: rgb(89, 138, 25);
  }
}
.completed {
  background-color: rgb(150, 181, 248);
  .icons {
    background-color: rgb(14, 39, 95);
  }
}
.loginDays {
  background-color: rgb(248, 162, 122);
  .icons {
    background-color: rgb(78, 17, 17);
  }
}
.streak {
  background-color: rgb(110, 228, 115);
  .icons {
    background-color: rgb(5, 0, 66);
  }
}
.graphs {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .activeHours {
    width: 53%;
  }
  .performance {
    width: 43%;
  }
}
.activeHours, .performance {
  height: 100%;
  border: var(--var-border-light);
  border-radius: 12px;
  padding-left: 5px;
}
.dashbarchart {
  width: 98%;
  height: 85%;
}
.activeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  select {
    width: 120px;
    margin-right: 10px;
    padding: 2px;
    border: unset;
    border-radius: 5px;
    font-family: 'Cascadia Code', system-ui, sans-serif;
  }
}
.recentLessons {
  width: 100%;
  height: 200px;
  border: var(--var-border-light);
  border-radius: 10px;
  margin-bottom: 10px;
  .nameClass {
    padding-left: 5px;
    margin-bottom: 10px;
  }
}
.listContainer {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listContent {
  width: 90%;
  height: 95%;
  border: var(--var-border);
}
.listCalContent {
  width: 100%;
  height: 300px;
  border: var(--var-border);
}
/*
@media screen and (max-width: 768px) {
  .mainContent {
    display: block;
    sidebar {
      width: 100%;
      height: 200px;
    }
  }
  .center {
    width: 100dvw;
    height: 60dvh;
  }
}*/