.maincontent {
  width: 300px;
  height: 300px;
  border: 2px solid brown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainContent {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.logout {
  width:100%;
  height:40px;
  border-radius: 12px;
  font-size: 1em;
  border: 2px solid rgb(200, 0, 0);
  background-color: unset;
  color: rgb(200, 0, 0);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.logout:hover {
  background-color: rgb(200, 0, 0);
  color: white;
  transition: 0.25s ease-in-out;
}